@use "../abstracts" as *;

.navbarcontainer{
    position: absolute;
    display: flex;
    top: 87.5%;
    width: 100%;
    height: 7rem;
    justify-content: center;
    z-index: 1000;

    &__navbar{
        position: absolute;
        display: flex;
        align-items: center;
        background-color: $grey;
        border-radius: 2rem;
        width: 32rem;
        height: 100%;
        justify-content: space-around;

        &__btn-nav{
            background:none;
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: .5rem .5rem;
            border-radius: 1rem;
            height: 75%;
            width: 20%;
            // height: 100%;

            &__p {
                display: none;
                position: absolute;
                top: -30%;
                background-color: black;
                color: white;
                padding: 0.25rem 1rem;
                border-radius: 1rem;
                font-size: 1rem;
                border: none;
            }

            #navp-contact {
                width: 6rem;
            }

            &__icon {
                width: 4rem;
            }

            &__project-span, &__contact-span, &__stacks-span, &__profil-span{
                display: none;
                position: absolute;
                border: solid 4px;
                color: white;
                border-radius: 1rem;
                bottom: 8%;
            }
        }

        &__btn-nav:hover {
            background-color: $navbtn-hover;
        }
    }
}